body {
    font-family: Arial, Helvetica, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    background-color: #ff00d4;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: #333;

    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flying-face {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 1s ease-in-out;
}
